body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#text-box {
    width: 100%;
    height: 90%;
    max-height: 200px;
    max-width: 500px;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

#bg {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.circle {
    background-color: red;
    mix-blend-mode: overlay;
    width: 30%;
    aspect-ratio: 1;
    position: absolute;
    border-radius: 100%;
    transition: background-color 3s;
    max-width: 100px;
}
#circle1 {
    top: 10%;
}
#circle2 {
    bottom: 10%;
}

.ray {
    width: 0;
    flex: 1;
    background-color: lightgray;
    transition: width 6s, margin-left 4s, background-color 2s;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 20px;
    text-wrap: nowrap;
}
p {
    display: none;
}
p:first-of-type {
    display: block;
}

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}
.underline:hover {
    text-decoration: overline;
}

.bg-black {
    background-color: black;
    color: white;
}
.bg-black:hover {
    background-color: lightgray;
    color: black;
}

.small {
    font-size: 11px;
}

.hover-italic:hover {
    font-style: italic;
}

.hover-white:hover {
    color: lightgray;
}

@media screen and (max-width: 500px) {
    #text-box {
        max-height: 100px;
    }
}