main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#text-box {
    width: 100%;
    max-height: 200px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    min-height: 150px;
    z-index: 2;
    background-color: white;
    border: 6px solid rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 500px) {
    #text-box {
        min-height: 100px;
        border-left: none;
        border-right: none;
    }
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 20px;
    text-wrap: nowrap;
}
p {
    display: none;
}
p:first-of-type {
    display: block;
}

.shape {
    position: fixed;
    background-color: black;
    opacity: 0.8;
    aspect-ratio: 1;
    transition: top 2s, left 2s, width 2s;
}

/* Styles */

.bold {
    font-weight: 800;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}
.underline:hover {
    text-decoration: overline;
}

.bg-black {
    background-color: black;
    color: white;
}
.bg-black:hover {
    background-color: lightgray;
    color: black;
}

.small {
    font-size: 0.7em;
}

.hover-italic:hover {
    font-style: italic;
}

.hover-white:hover {
    color: lightgray;
}